@model NFLStats.Client.ViewModels.RushingViewModel
@{
    ViewData["Title"] = "NFL Rushing Yards 2021";
    ViewData["url"] = Url.Action("GetRushingStats", "NFLStats");
}

@*@{Html.RenderPartialAsync("StatsPartials/_StatsNavBar");}*@

<div class="input-group mb-3">
    @Html.Hidden("SortBy")
    @Html.Hidden("PageNumber")
    @Html.Hidden("url")
    <input id="search" type="text" class="form-control" aria-placeholder="Search" aria-label="Search">
    <div class="input-group-append">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Download</button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><span id="subSet" data-url="@Url.Action("DownloadPartialRushingStats", "NFLStats")" class="dropdown-item">Download</span></li>
            <li><span id="fullSet" data-url="@Url.Action("DownloadFullRushingStats", "NFLStats")" class="dropdown-item">Download Full Data Set</span></li>
        </ul>
    </div>
</div>
<br/>
@{await Html.RenderPartialAsync("StatsPartials/_StatTable", Model.StatTable);}