@model NFLStats.Client.ViewModels.RushingViewModel
@{
    foreach (var record in Model.RushingRecords)
    {
        <tr>
            <td>@record.PlayerName</td>
            <td>@record.TeamName</td>
            <td>@record.Position</td>
            <td>@record.Yards</td>
            <td>@record.Attempts</td>
            <td>@record.AttemptsPerGame</td>
            <td>@record.AverageYards</td>
            <td>@record.YardsPerGame</td>
            <td>@record.TouchDowns</td>
            <td>@record.LongestRun</td>
            <td>@record.FirstDowns</td>
            <td>@record.PercentageFirstDowns</td>
            <td>@record.Runs20Plus</td>
            <td>@record.Runs40Plus</td>
            <td>@record.Fumbles</td>
        </tr>
    }
}